<h1>Songs Index</h1>

<% @songs_index.each do |song| %>
  <li>
    <%= link_to song.title, song %>
    <%= link_to "Edit", edit_song_path(song) %>
    <%= link_to "Delete", song, method: :delete %>
  </li>
<% end %>
<br></br>
